@font-face {font-family: "iconfont";
src: url('//at.alicdn.com/t/font_2383580_dzvwhpmzi1.eot?t=1611646298449'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2383580_dzvwhpmzi1.eot?t=1611646298449#iefix') format('embedded-opentype'),
   url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABnQAAAJLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgpYbgE2AiQDDAsIAAQgBYRtB0QbugXILrBt2JMStTCGjYXV0aczjH8HiCAbttm7+1oVoEp3yFLj6QqNQoEwb1FFGJRFGXQ34q/W9FJCYXf8syyyCsqn7D3w/obGx6mSUpWVrWZJacgcX6bLfYCghdYn7p3+lmWBzAeU09r7/FMXYLaAAhxrUWQllCA3jF3gEo4TaFqiaJyd3bTFksIaF4iHKHDFUi6sKCxXF6o1S4t4VVFPzynCS/j9+GfFEkkls6ae35/2xcGXr3qezWfufEKEAFdXkLFNKMRtbfrcrGCsWc30nGViX/2Cr+Zzvvj/eEJBEkSVVd0G6yiT+OKKU01QeseVGVTrKw0JCyzm2PUhGo2ntejc7nfae8G69s1Ot7c7dRy49X+7pcl7zuJA8Sw9hr9oIDh8e47tzb2fWgV87u1AU/pn6hJM8mckPeuKLrMsuahiV2x6s0YPZwIKuc+c5R96Ha+f3EE+1E1G+GsW78Zbt5xSCmMbFS27qKo7RNOW89UtI2RWlAY2TQFC3yOSrg9kfU+UwnhBxdQ3qvoxi6bbGG3ZshrRyimhy9gHbwKRX+TSsfFKVNvEYJC6lJWF7C5SHcXA1Ixi7hxzpDlm1MPAYpYgqcjgDJyGaVpASUWMPmshc7ml67LuTZpfZGLFKYJcDPUBzwSI+Ao56TdnK6XPN6HAQMpFLaSaYBcitah3YNIYPSjn6rwX6V5eqQ0FLIxJQCKFDDgDg1AqVQBl/aAY8jFNOCJZ2qLbjWRftba+Nvu+XdBknZgjRY6iveMSFSOVoiDk1UxJipKFAAAAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_2383580_dzvwhpmzi1.woff?t=1611646298449') format('woff'),
  url('//at.alicdn.com/t/font_2383580_dzvwhpmzi1.ttf?t=1611646298449') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_2383580_dzvwhpmzi1.svg?t=1611646298449#iconfont') format('svg'); /* iOS 4.1- */
 
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e608";
}

.icon-arrow-left:before {
  content: "\e607";
}

